body {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 0;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 10px;
}

.content {
  flex: 1;
}

.name {
  font-size: 28px;
  font-weight: 600;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5px;
}

.link {
  margin: 0 20px;
}

.link a {
  color: black;
  font-weight: 500;
  text-decoration: none;
}

.section {
  border-top: 1px solid black;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-height: 375px;
}

.photo {
  background: url('../images/jaws.jpg') center 50%;
  background-size: cover;
  min-height: 300px;
  width: 50%;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.description p {
  width: 85%;
}

.divider {
  background-color: #444444;
  color: white;
  font-size: 28px;
  font-weight: 400;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.project {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-height: 300px;
}

.explanation {
  align-items: center;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50%;
}

.explanation p {
  margin: 3px 0;
}

.project .button {
  background-color: black;
  border-radius: 8px;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  outline-color: transparent;
  outline-style: none;
  padding: 5px 3px;
  width: 150px;
}

.project .button:hover {
  background-color: white;
  border-color: black;
  color: black;
}

.screenshot {
  display: flex;
  height: 100%;
  width: 50%;
}

.screenshot img {
  margin: 15px auto;
}

.stattleship {
  height: 40%;
  width: 40%;
}
